@import "tailwindcss";

@theme {
  --color-purdue-gold: #CEB888;
  --color-purdue-black: #000000;
  --color-purdue-grey: #8E9299;
  --color-purdue-white: #FFFFFF;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}
